<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-32 overflow-hidden rounded-lg">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <span class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 text-white text-center mb-7 text-3xl">
        What are you looking for?
      </span>
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <span class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 text-white text-center mb-7 text-3xl">
        Search the Web
      </span>
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <span class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 text-white text-center mb-7 text-3xl">
        Search food, restaurants and more...
      </span>
    </div>
    <!-- Item 4 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <span class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 text-white text-center mb-7 text-3xl">
        Movies, TV Shows, Dramas
      </span>
    </div>
  </div>
</div>

<!-- <h3 class="text-white text-center mb-7 text-3xl">What are you looking for?</h3> -->
<div class="relative">
  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
    </svg>
  </div>
  <input [(ngModel)]="searchText" (keyup.enter)="search()" type="search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-900 dark:bg-opacity-70 dark:border-gray-800 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Web, Images...">
</div>