:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

main {
    height: 100vh;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
}

.content {
    margin: 0 auto 0 auto;
    padding-top: 82px;
    max-width: 85%;
    height: 75%;
}
