<div (dblclick)="editTodo()" class="flex flex-row w-[24rem] p-6 bg-white dark:bg-gray-900 border border-gray-200 rounded-lg shadow dark:bg-opacity-70 dark:border-gray-700 dark:hover:bg-opacity-80 transition-all">
  <button (click)="toggleTodo()" class="rounded-full mr-2 w-10 min-w-[2.5rem] min-h-[2.5rem] self-start text-white text-lg bg-black bg-opacity-50 flex justify-center items-center">
    <ng-icon *ngIf="todo.completed" name="heroCheckSolid"></ng-icon>
  </button>
  <h5 [ngClass]="{'line-through': todo.completed}" class="mb-2 text-2xl font-medium tracking-tight text-gray-900 dark:text-white">
    <span *ngIf="!edit" class="transition-all">{{todo.description}}</span>
    <textarea
      #editField
      type="text"
      [hidden]="!edit"
      (keydown.enter)="saveTodo($event)"
      (blur)="saveTodo($event)"
      [(ngModel)]="todo.description"
      class="backdrop-blur-md bg-transparent w-[100%] text-2xl font-medium "
    ></textarea>
    <div class="flex flex-col">
      <button (click)="deleteTodo()" *ngIf="edit" class="rounded-full min-w-[2rem] min-h-[2rem] self-end text-white text-lg bg-black bg-opacity-50 flex justify-center items-center">
        <ng-icon name="heroTrashSolid"></ng-icon>
      </button>
    </div>
  </h5>
</div>

